<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646365510412-agst649d6pqee07fi72j7ps9jlqnoe85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646365510412-agst649d6pqee07fi72j7ps9jlqnoe85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>646365510412-gb56vdvtggu0ur6m10lvt7vjcf0f8ao1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXyI3qwLtJ3e-hawUdPdt5c2CL0iT8yOI</string>
	<key>GCM_SENDER_ID</key>
	<string>646365510412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ktm</string>
	<key>PROJECT_ID</key>
	<string>tailor-ce6ad</string>
	<key>STORAGE_BUCKET</key>
	<string>tailor-ce6ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646365510412:ios:80579e9a9ceebad428a729</string>
</dict>
</plist>